* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

section {
    padding: 80px 0;
}

h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: lighter;
}

.big-hello {
    text-transform: capitalize;
    font-size: 20px;
}

h1 {
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 800;
}

h3 {
    text-transform: capitalize;
    font-size: 18px;
    color: rgb(241, 241, 244);
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
}

.right,
.left,
h4 {
    text-transform: capitalize;
    font-size: 18px;
    color: rgb(240, 245, 236);
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

h4 {
    text-transform: capitalize;
    font-size: 18px;
    color: rgb(176, 184, 25);
    font-weight: lighter;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5 {
    color: rgb(176, 184, 25);
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 17px;
    text-transform: uppercase;
}

.education h3 {
    text-align: left;
}

.h3-me {
    text-align: left;
}

.about,
.protfolio,
h3 {
    text-align: center;
}

h6 {
    font-size: 17px;
    font-weight: lighter;
    color: rgb(160, 157, 157);
    margin-bottom: 15px;
}

p {
    text-transform: capitalize;
    color: rgb(160, 157, 157);
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

section {
    padding: 80px 0;
}

.main-header {
    height: 600px;
    background: url(banner1.jpeg) rgba(87, 88, 88, 0.891);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.img1,
.img2,
.img3 {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-card {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header-flex {
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
    text-transform: capitalize;
}

.nav-list li a {
    text-decoration: none;
    color: #c9b9b9;
}

.nav-list li a:hover {
    color: rgb(189, 232, 15);
}

.big-banner {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.textbox {
    color: white;
    text-align: center;
}

.portfolio {
    background-color: rgb(87, 88, 88);
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card .img1,
.card .img2,
.card .img3 {
    background-image: url('card1.jpeg');
    background-position: center;
    background-size: cover;
    height: 200px;
}

.card {
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card .info {
    padding: 20px;
    text-align: center;
}

.about-flex {
    display: flex;
    gap: 40px;
}

.left,
.right {
    width: 50%;
}

.card1,
.card2 {
    border: 1px solid #c9b9b9;
    background: #343a40;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.icon-link i,
.icon-link a {
    text-decoration: none;
    margin-right: 10px;
    color: #c9b9b9;
    padding-top: 5px;
    text-transform: capitalize;
}

.me-flex {
    display: flex;
    gap: 20px;
}
